<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="entity.TOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="o_sendtype" jdbcType="VARCHAR" property="oSendtype" />
    <result column="o_paytype" jdbcType="VARCHAR" property="oPaytype" />
    <result column="o_paycount" jdbcType="DOUBLE" property="oPaycount" />
    <result column="o_orderdate" jdbcType="DATE" property="oOrderdate" />
    <result column="o_checkstate" jdbcType="INTEGER" property="oCheckstate" />
    <result column="o_checkdate" jdbcType="DATE" property="oCheckdate" />
    <result column="o_checkperson" jdbcType="VARCHAR" property="oCheckperson" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="o_shperson" jdbcType="VARCHAR" property="oShperson" />
    <result column="o_shphone" jdbcType="VARCHAR" property="oShphone" />
    <result column="o_shaddress" jdbcType="VARCHAR" property="oShaddress" />
  </resultMap>
  <sql id="Base_Column_List">
    id, o_sendtype, o_paytype, o_paycount, o_orderdate, o_checkstate, o_checkdate, o_checkperson, 
    userid, o_shperson, o_shphone, o_shaddress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.TOrder">
    insert into t_order (id, o_sendtype, o_paytype, 
      o_paycount, o_orderdate, o_checkstate, 
      o_checkdate, o_checkperson, userid, 
      o_shperson, o_shphone, o_shaddress
      )
    values (#{id,jdbcType=INTEGER}, #{oSendtype,jdbcType=VARCHAR}, #{oPaytype,jdbcType=VARCHAR}, 
      #{oPaycount,jdbcType=DOUBLE}, #{oOrderdate,jdbcType=DATE}, #{oCheckstate,jdbcType=INTEGER}, 
      #{oCheckdate,jdbcType=DATE}, #{oCheckperson,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{oShperson,jdbcType=VARCHAR}, #{oShphone,jdbcType=VARCHAR}, #{oShaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oSendtype != null">
        o_sendtype,
      </if>
      <if test="oPaytype != null">
        o_paytype,
      </if>
      <if test="oPaycount != null">
        o_paycount,
      </if>
      <if test="oOrderdate != null">
        o_orderdate,
      </if>
      <if test="oCheckstate != null">
        o_checkstate,
      </if>
      <if test="oCheckdate != null">
        o_checkdate,
      </if>
      <if test="oCheckperson != null">
        o_checkperson,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="oShperson != null">
        o_shperson,
      </if>
      <if test="oShphone != null">
        o_shphone,
      </if>
      <if test="oShaddress != null">
        o_shaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oSendtype != null">
        #{oSendtype,jdbcType=VARCHAR},
      </if>
      <if test="oPaytype != null">
        #{oPaytype,jdbcType=VARCHAR},
      </if>
      <if test="oPaycount != null">
        #{oPaycount,jdbcType=DOUBLE},
      </if>
      <if test="oOrderdate != null">
        #{oOrderdate,jdbcType=DATE},
      </if>
      <if test="oCheckstate != null">
        #{oCheckstate,jdbcType=INTEGER},
      </if>
      <if test="oCheckdate != null">
        #{oCheckdate,jdbcType=DATE},
      </if>
      <if test="oCheckperson != null">
        #{oCheckperson,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="oShperson != null">
        #{oShperson,jdbcType=VARCHAR},
      </if>
      <if test="oShphone != null">
        #{oShphone,jdbcType=VARCHAR},
      </if>
      <if test="oShaddress != null">
        #{oShaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.TOrder">
    update t_order
    <set>
      <if test="oSendtype != null">
        o_sendtype = #{oSendtype,jdbcType=VARCHAR},
      </if>
      <if test="oPaytype != null">
        o_paytype = #{oPaytype,jdbcType=VARCHAR},
      </if>
      <if test="oPaycount != null">
        o_paycount = #{oPaycount,jdbcType=DOUBLE},
      </if>
      <if test="oOrderdate != null">
        o_orderdate = #{oOrderdate,jdbcType=DATE},
      </if>
      <if test="oCheckstate != null">
        o_checkstate = #{oCheckstate,jdbcType=INTEGER},
      </if>
      <if test="oCheckdate != null">
        o_checkdate = #{oCheckdate,jdbcType=DATE},
      </if>
      <if test="oCheckperson != null">
        o_checkperson = #{oCheckperson,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="oShperson != null">
        o_shperson = #{oShperson,jdbcType=VARCHAR},
      </if>
      <if test="oShphone != null">
        o_shphone = #{oShphone,jdbcType=VARCHAR},
      </if>
      <if test="oShaddress != null">
        o_shaddress = #{oShaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.TOrder">
    update t_order
    set o_sendtype = #{oSendtype,jdbcType=VARCHAR},
      o_paytype = #{oPaytype,jdbcType=VARCHAR},
      o_paycount = #{oPaycount,jdbcType=DOUBLE},
      o_orderdate = #{oOrderdate,jdbcType=DATE},
      o_checkstate = #{oCheckstate,jdbcType=INTEGER},
      o_checkdate = #{oCheckdate,jdbcType=DATE},
      o_checkperson = #{oCheckperson,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      o_shperson = #{oShperson,jdbcType=VARCHAR},
      o_shphone = #{oShphone,jdbcType=VARCHAR},
      o_shaddress = #{oShaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="BaseResultMap" type="entity.TOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="o_sendtype" jdbcType="VARCHAR" property="oSendtype" />
    <result column="o_paytype" jdbcType="VARCHAR" property="oPaytype" />
    <result column="o_paycount" jdbcType="DOUBLE" property="oPaycount" />
    <result column="o_orderdate" jdbcType="DATE" property="oOrderdate" />
    <result column="o_checkstate" jdbcType="INTEGER" property="oCheckstate" />
    <result column="o_checkdate" jdbcType="DATE" property="oCheckdate" />
    <result column="o_checkperson" jdbcType="VARCHAR" property="oCheckperson" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="o_shperson" jdbcType="VARCHAR" property="oShperson" />
    <result column="o_shphone" jdbcType="VARCHAR" property="oShphone" />
    <result column="o_shaddress" jdbcType="VARCHAR" property="oShaddress" />
  </resultMap>
  <sql id="Base_Column_List">
    id, o_sendtype, o_paytype, o_paycount, o_orderdate, o_checkstate, o_checkdate, o_checkperson, 
    userid, o_shperson, o_shphone, o_shaddress
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entity.TOrder">
    insert into t_order (id, o_sendtype, o_paytype, 
      o_paycount, o_orderdate, o_checkstate, 
      o_checkdate, o_checkperson, userid, 
      o_shperson, o_shphone, o_shaddress
      )
    values (#{id,jdbcType=INTEGER}, #{oSendtype,jdbcType=VARCHAR}, #{oPaytype,jdbcType=VARCHAR}, 
      #{oPaycount,jdbcType=DOUBLE}, #{oOrderdate,jdbcType=DATE}, #{oCheckstate,jdbcType=INTEGER}, 
      #{oCheckdate,jdbcType=DATE}, #{oCheckperson,jdbcType=VARCHAR}, #{userid,jdbcType=INTEGER}, 
      #{oShperson,jdbcType=VARCHAR}, #{oShphone,jdbcType=VARCHAR}, #{oShaddress,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="entity.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="oSendtype != null">
        o_sendtype,
      </if>
      <if test="oPaytype != null">
        o_paytype,
      </if>
      <if test="oPaycount != null">
        o_paycount,
      </if>
      <if test="oOrderdate != null">
        o_orderdate,
      </if>
      <if test="oCheckstate != null">
        o_checkstate,
      </if>
      <if test="oCheckdate != null">
        o_checkdate,
      </if>
      <if test="oCheckperson != null">
        o_checkperson,
      </if>
      <if test="userid != null">
        userid,
      </if>
      <if test="oShperson != null">
        o_shperson,
      </if>
      <if test="oShphone != null">
        o_shphone,
      </if>
      <if test="oShaddress != null">
        o_shaddress,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="oSendtype != null">
        #{oSendtype,jdbcType=VARCHAR},
      </if>
      <if test="oPaytype != null">
        #{oPaytype,jdbcType=VARCHAR},
      </if>
      <if test="oPaycount != null">
        #{oPaycount,jdbcType=DOUBLE},
      </if>
      <if test="oOrderdate != null">
        #{oOrderdate,jdbcType=DATE},
      </if>
      <if test="oCheckstate != null">
        #{oCheckstate,jdbcType=INTEGER},
      </if>
      <if test="oCheckdate != null">
        #{oCheckdate,jdbcType=DATE},
      </if>
      <if test="oCheckperson != null">
        #{oCheckperson,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="oShperson != null">
        #{oShperson,jdbcType=VARCHAR},
      </if>
      <if test="oShphone != null">
        #{oShphone,jdbcType=VARCHAR},
      </if>
      <if test="oShaddress != null">
        #{oShaddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entity.TOrder">
    update t_order
    <set>
      <if test="oSendtype != null">
        o_sendtype = #{oSendtype,jdbcType=VARCHAR},
      </if>
      <if test="oPaytype != null">
        o_paytype = #{oPaytype,jdbcType=VARCHAR},
      </if>
      <if test="oPaycount != null">
        o_paycount = #{oPaycount,jdbcType=DOUBLE},
      </if>
      <if test="oOrderdate != null">
        o_orderdate = #{oOrderdate,jdbcType=DATE},
      </if>
      <if test="oCheckstate != null">
        o_checkstate = #{oCheckstate,jdbcType=INTEGER},
      </if>
      <if test="oCheckdate != null">
        o_checkdate = #{oCheckdate,jdbcType=DATE},
      </if>
      <if test="oCheckperson != null">
        o_checkperson = #{oCheckperson,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        userid = #{userid,jdbcType=INTEGER},
      </if>
      <if test="oShperson != null">
        o_shperson = #{oShperson,jdbcType=VARCHAR},
      </if>
      <if test="oShphone != null">
        o_shphone = #{oShphone,jdbcType=VARCHAR},
      </if>
      <if test="oShaddress != null">
        o_shaddress = #{oShaddress,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entity.TOrder">
    update t_order
    set o_sendtype = #{oSendtype,jdbcType=VARCHAR},
      o_paytype = #{oPaytype,jdbcType=VARCHAR},
      o_paycount = #{oPaycount,jdbcType=DOUBLE},
      o_orderdate = #{oOrderdate,jdbcType=DATE},
      o_checkstate = #{oCheckstate,jdbcType=INTEGER},
      o_checkdate = #{oCheckdate,jdbcType=DATE},
      o_checkperson = #{oCheckperson,jdbcType=VARCHAR},
      userid = #{userid,jdbcType=INTEGER},
      o_shperson = #{oShperson,jdbcType=VARCHAR},
      o_shphone = #{oShphone,jdbcType=VARCHAR},
      o_shaddress = #{oShaddress,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>